*{
    font-family: cursive;
    border: solid red 2px;
}
button{
    border-radius: 50px 0 50px 0;
    height: 50px;
    width: 450px;
    font-size: 18px;
    background-color: aqua;
    color: black;
    margin:50px 0 50px 0;
    border-left-style: hidden;
    border-right-style: hidden;
    border-color: white;
}
#return{
    text-align: center;
    margin:auto;
    height: 50px;
    width: auto;
}
#header{
    text-align: center;
    background-color: aqua;
    color:black;
    border-radius: 25px 25px 25px 25px;
    width: auto;
    margin: 50px 0 50px 250px;
}
.lasagna-body, .teriyaki-chicken-body{
    text-align: center;
}
.lasagna-ingredients, .teriyaki-chicken-ingredients{
    text-align: left;
}
#lasagna-intro-text, #lasagna-main-text, #servings{
    font-size: 15px;
    text-align: justify;
}
.lasagna-links{
    margin: 25px 5px 25px 5px;
    width: 300px;
    align-items: center;
}
.lasagna-list-text, .teriyaki-chicken-ingredients{
    font-size: 14px;
}
img{
    border-radius: 25px 25px 25px 25px;
}
#homepage-link{
    width: auto;
}